const { SlashCommandBuilder } = require('@discordjs/builders')

module.exports = {
    data: new SlashCommandBuilder()
        .setName('ping') // Give it a name
        .setDescription("I'm a command!"), // Give it a description
    async execute(interaction) {
        // Your code goes here, here's an example on how to respond to an interaction:
        await interaction.reply('Pong!');
    },
};
